/* google Font link */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap");
/* ==================================Common Css ====================================== */
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #121212;
  --secondary-color: #191919;
  --pink-color: #ff4655;
  --white-color: #fff;
  --gray-color: #666;
  /* Size */
  --screen-size: 1320px;
  /* Font Family */
  --oswald-font: "Oswald", sans-serif;
  --barlow-font: "Barlow Condensed", sans-serif;
  /* font size */
  --small-font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: center;
}
.sectionContainer {
  max-width: var(--screen-size);
  margin: 0 auto;
}
.section_title_barlow-font {
  font-size: 38px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.66px;
  font-family: var(--barlow-font);
  /* font-family: ; */
}
.section_title_barlow-font::after {
  width: 120px;
  display: block;
  height: 3px;
  background: var(--pink-color);
  content: "";
  margin-right: 6px;
}
.section_title_oswald-font {
  font-size: 38px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.66px;
  font-family: var(--oswald-font);
}
.section_title_oswald-font::after {
  width: 120px;
  display: block;
  height: 3px;
  background: var(--pink-color);
  content: "";
  margin-left: 6px;
}
/* ==================================Common Css ====================================== */
/* ====================navbar css=================== */
header {
  background: #0c0c0e;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--screen-size);
  padding: 25px 0px 15px;
}
nav a {
  color: var(--white-color);
}
nav .navbarLeft {
  display: flex;
  column-gap: 60px;
  align-items: center;
}
.navbarLeft .navLogo a {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.05px;
  font-family: var(--barlow-font);
  position: relative;
}
.navbarLeft .navLogo a::after {
  width: 9px;
  height: 9px;
  content: "";
  display: block;
  border-radius: 50%;
  background: var(--pink-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: -15px;
  bottom: 6px;
}
.navlink {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.navlink a {
  font-family: var(--oswald-font);
  font-size: var(--small-font-size);
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.navlink a::after {
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  background: var(--white-color);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  bottom: 0;
  left: 0;
}
.navlink a:hover::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform-origin: bottom left;
}
nav .navbarRight {
  display: flex;
  gap: 25px;
  align-items: center;
  font-family: var(--oswald-font);
  font-size: 16px;
}
nav .navbarRight a {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
nav .navbarRight a:hover {
  color: var(--pink-color);
}
nav .navbarRight span {
  margin-right: 10px;
}
/*============================ Hero Seciton ===================== */
.hero_section {
  background: url(/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
/*============================ Hero Seciton ===================== */
.hero_container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  flex-direction: column;
}
.hero_contant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 523px;
}
.hero_contant h3 {
  font-family: var(--oswald-font);
  color: var(--white-color);
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2.7px;
  line-height: normal;
  text-transform: uppercase;
}
.hero_contant h1 {
  font-family: var(--oswald-font);
  font-weight: 600;
  line-height: normal;
  color: var(--white-color);
  font-size: 60px;
  text-transform: uppercase;
}
.hero_contant p {
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: 400;
  font-family: var(--oswald-font);
  font-weight: 400;
  line-height: normal;
}
.hero_contant button {
  margin-top: 48px;
  max-width: 130px;
  height: 50px;
  background: var(--white-color);
  padding: 13px 20px;
  color: var(--primary-color);
  font-size: var(--small-font-size);
  font-weight: 400;
  font-family: var(--oswald-font);
  line-height: normal;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: none;
}
.hero_contant button:hover {
  background: var(--pink-color);
  color: var(--white-color);
}
.heroSocialIcons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.heroSocialIcons span {
  background: #d9d9d9;
  color: #0c0c0e;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.heroSocialIcons span:hover {
  background: var(--pink-color);
  color: var(--white-color);
}

/* Responsive with Media quarey */
@media screen and (max-width: 570px) {
  nav {
    flex-direction: column;
  }
  nav .navLogo {
    margin-bottom: 20px;
  }
  nav .navbarLeft {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  nav .navlink {
    flex-direction: column;
    width: 100%;
  }
  nav .navlink li {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  nav .navlink li:hover {
    background: var(--pink-color);
  }
  nav .navlink li a {
    font-size: 20px;
  }
  nav .navbarRight {
    margin-top: 20px;
    font-size: 20px;
  }
  .hero_contant {
    text-align: center;
    align-items: center;
  }
  .hero_contant h1 {
    font-size: 48px;
  }
  .heroSocialIcons {
    justify-content: center;
  }
}
