/* google Font link */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap");
/* ==================================Common Css ====================================== */
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #121212;
  --secondary-color: #191919;
  --dark-gray-color: #212121;
  --pink-color: #ff4655;
  --white-color: #fff;
  --gray-color: #666;
  /* Size */
  --screen-size: 1320px;
  /* Font Family */
  --oswald-font: "Oswald", sans-serif;
  --barlow-font: "Barlow Condensed", sans-serif;
  /* font size */
  --small-font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
span {
  display: inline-block;
}
img {
  vertical-align: center;
}
.sectionContainer {
  max-width: var(--screen-size);
  margin: 0 auto;
}
.section_title_barlow_font {
  font-size: 38px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.66px;
  font-family: var(--barlow-font);
  text-transform: uppercase;
  position: relative;
  color: var(--white-color);
}
.section_title_barlow_font::after {
  width: 120px;
  display: block;
  height: 3px;
  background: var(--pink-color);
  content: "";
  position: absolute;
  right: 200px;
  bottom: 0;
}
.section_title_oswald_font {
  font-size: 38px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.66px;
  font-family: var(--oswald-font);
  text-transform: uppercase;
  position: relative;
  color: var(--white-color);
}
.section_title_oswald_font::after {
  width: 120px;
  display: block;
  height: 3px;
  background: var(--pink-color);
  content: "";
  position: absolute;
  right: 180px;
  bottom: 0;
}
/* ==================================Common Css ====================================== */
/* ====================navbar css=================== */
header {
  background: #0c0c0e;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--screen-size);
  padding: 25px 0px 15px;
}
nav a {
  color: var(--white-color);
}
nav .navbarLeft {
  display: flex;
  column-gap: 60px;
  align-items: center;
}
.navbarLeft .navLogo a {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.05px;
  font-family: var(--barlow-font);
  position: relative;
}
.navbarLeft .navLogo a::after {
  width: 9px;
  height: 9px;
  content: "";
  display: block;
  border-radius: 50%;
  background: var(--pink-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: -15px;
  bottom: 6px;
}
.navlink {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.navlink a {
  font-family: var(--oswald-font);
  font-size: var(--small-font-size);
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.navlink a::after {
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  background: var(--white-color);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  bottom: 0;
  left: 0;
}
.navlink a:hover::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform-origin: bottom left;
}
nav .navbarRight {
  display: flex;
  gap: 25px;
  align-items: center;
  font-family: var(--oswald-font);
  font-size: 16px;
}
nav .navbarRight a {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
nav .navbarRight a:hover {
  color: var(--pink-color);
}
nav .navbarRight span {
  margin-right: 10px;
}
/*============================ Hero Seciton ===================== */
.hero_section {
  background: url(/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
/*============================ Hero Seciton ===================== */
.hero_container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  flex-direction: column;
}
.hero_contant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 523px;
}
.hero_contant h3 {
  font-family: var(--oswald-font);
  color: var(--white-color);
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2.7px;
  line-height: normal;
  text-transform: uppercase;
}
.hero_contant h1 {
  font-family: var(--oswald-font);
  font-weight: 600;
  line-height: normal;
  color: var(--white-color);
  font-size: 60px;
  text-transform: uppercase;
  position: relative;
  animation: heroTitle 6s steps(15) infinite;
  -webkit-animation: heroTitle 6s steps(16) infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid var(--pink-color);
}
@keyframes heroTitle {
  0% {
    width: 0%;
  }
  50% {
    width: 55%;
  }
  100% {
    width: 100%;
  }
}
.hero_contant h1::after {
  content: "";
  background: var(--white-color);
  width: 90px;
  height: 4px;
  position: absolute;
  bottom: 15px;
  right: -110px;
}
.hero_contant p {
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: 400;
  font-family: var(--oswald-font);
  font-weight: 400;
  line-height: normal;
}
.hero_contant button {
  margin-top: 48px;
  max-width: 130px;
  height: 50px;
  background: var(--white-color);
  padding: 13px 20px;
  color: var(--primary-color);
  font-size: var(--small-font-size);
  font-weight: 400;
  font-family: var(--oswald-font);
  line-height: normal;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: none;
}
.hero_contant button:hover {
  background: var(--pink-color);
  color: var(--white-color);
}
.heroSocialIcons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.heroSocialIcons span {
  background: #d9d9d9;
  color: #0c0c0e;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.heroSocialIcons span:hover {
  background: var(--pink-color);
  color: var(--white-color);
}

/* About The Biggest Hancok Section  */
#About {
  background: var(--primary-color);
  padding: 34px 0 80px;
}
#About .title_width {
  max-width: 518px;
}
#About .aboutContant {
  display: flex;
  gap: 83px;
  padding: 65px 0;
  align-items: flex-start;
}
#About .imgSide {
  position: relative;
}
#About .imgSide::before {
  content: "";
  width: 163px;
  height: 7px;
  position: absolute;
  top: -5px;
  left: -5px;
  background: var(--pink-color);
}
#About .imgSide::after {
  content: "";
  width: 7px;
  height: 163px;
  position: absolute;
  top: -5px;
  left: -5px;
  background: var(--pink-color);
}
#About .imgSide img {
  width: 700px;
}
#About .summery {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  align-items: flex-start;
  color: var(--white-color);
}
#About .summery h3 {
  font-family: var(--oswald-font);
  font-size: 27px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.81px;
  text-transform: uppercase;
}
#About .summery ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  font-family: var(--barlow-font);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
#About .summery ul li {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
#About .summery ul li:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  font-weight: 500;
  color: var(--pink-color);
}
#About .summery ul li span {
  color: var(--pink-color);
  margin-right: 10px;
}
#About .summery p {
  font-family: var(--oswald-font);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
}
#About .summery button {
  max-width: 130px;
  height: 50px;
  background: var(--dark-gray-color);
  padding: 13px 20px;
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: 400;
  font-family: var(--oswald-font);
  line-height: normal;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: none;
  margin-top: 30px;
}
#About .summery button:hover {
  background: var(--pink-color);
  color: var(--white-color);
}
#About .summery button span {
  margin-left: 7px;
}
#About .aboutAchivment {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
#About .achivmentBox {
  padding: 26px 0;
  width: 315px;
  background: var(--dark-gray-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  align-items: center;
}
#About .achivmentBox h3 {
  font-size: 60px;
  font-family: var(--barlow-font);
  font-weight: 600;
  letter-spacing: 1.8px;
  line-height: normal;
  position: relative;
}
#About .achivmentBox h3::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  content: "";
  background: var(--pink-color);
  bottom: 10px;
  right: -20px;
  position: absolute;
}
#About .achivmentBox p {
  font-family: var(--oswald-font);
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: normal;
}
/* About The Biggest Hancok Section  */

/* Popular Games Section */
#popular {
  background: var(--secondary-color);
  padding: 115px 0 90px;
}
#popular .titleBox {
  display: flex;
  justify-content: flex-end;
}
#popular .title_width {
  max-width: 454px;
  text-align: right;
}
#popular .popularContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 80px;
}
#popular .popularContainer .gameCharecter_left {
  background: var(--pink-color);
  width: 550px;
  height: 390px;
  transform: skew(-16deg);
  -webkit-transform: skew(-16deg);
  -moz-transform: skew(-16deg);
  -ms-transform: skew(-16deg);
  -o-transform: skew(-16deg);
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#popular .popularContainer .leftImg {
  position: absolute;
  bottom: -4px;
  transform: skew(16deg);
  -webkit-transform: skew(16deg);
  -moz-transform: skew(16deg);
  -ms-transform: skew(16deg);
  -o-transform: skew(16deg);
}
#popular .popularContainer .leftImg img {
  width: 493px;
}
#popular .popularContainer .gameCharecter_right .img {
  width: 650px;
}
#popular .arrowBtn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#popular .arrowBtn span {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
#popular .arrowBtn span:hover {
  background: var(--pink-color);
  transform: scale(1.1);
  border: none;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* Popular Games Section */

/* Tornament Section */
#Tornament {
  background: var(--primary-color);
  padding: 90px 0;
}
#Tornament .title_width {
  max-width: 446px;
}
#Tornament .tornamentVideoContainer {
  display: flex;
  margin-top: 78px;
  justify-content: space-between;
  max-height: 276px;
}
#Tornament .tornamentVideo {
  max-width: calc(1320px / 3 - 20px);
  color: var(--white-color);
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  position: relative;
}
#Tornament .tornamentVideo:hover {
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}
#Tornament .tornamentVideo:hover .videoImg img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
#Tornament .tornamentVideo .videoImg img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  max-height: 276px;
  object-fit: cover;
}
#Tornament .tornamentVideo .videoImg {
  position: relative;
}
.playbtn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid var(--white-color);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
.playbtn:hover {
  background: var(--pink-color);
  border: transparent;
}
#Tornament .tornamentVideo .overflow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-150%);
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
  padding: 0 20px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  opacity: 0;
  max-width: calc(1320px / 3 - 20px);
}
#Tornament .tornamentVideo:hover .overflow {
  opacity: 1;
}
#Tornament .tornamentVideo .overflow .videoTitle {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#Tornament .tornamentVideo .overflow .videoTitle h4 {
  font-family: var(--barlow-font);
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}
#Tornament .tornamentVideo .overflow .videoTitle p {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.96px;
  font-family: var(--oswald-font);
}
#Tornament .tornamentVideo .overflow > p {
  font-family: var(--oswald-font);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}
#Tornament .tornamentVideo .overflow > p::after {
  width: 5px;
  height: 5px;
  background: var(--pink-color);
  border-radius: 50%;
  content: "";
  position: absolute;
  left: -9px;
  bottom: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* Tornament Matches */
#Tornament .tornamentMatch {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  color: var(--white-color);
  padding-top: 60px;
}
#Tornament .tornamentMatch h4 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2.25px;
  font-family: var(--barlow-font);
}
#Tornament .tornamentMatch .Matches {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
#Tornament .tornamentMatch .Matches:hover {
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  filter: drop-shadow(4px 3px 27px #ff4655);
  -webkit-filter: drop-shadow(4px 3px 27px #ff4655);
}
#Tornament .tornamentMatch .Matches .Team {
  max-width: 426px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--dark-gray-color);
}
#Tornament .tornamentMatch .Matches .firstTeam {
  clip-path: polygon(0 1%, 100% 0, 88% 100%, 0% 100%);
}
#Tornament .tornamentMatch .Matches .secondTeam {
  clip-path: polygon(0 1%, 100% 0, 100% 100%, 12% 100%);
  flex-direction: row-reverse;
}
#Tornament .tornamentMatch .Matches img {
  width: 100px;
}
#Tornament .tornamentMatch .Matches h3 {
  font-weight: 500;
  font-family: var(--barlow-font);
  font-size: 32px;
  line-height: normal;
  letter-spacing: 0.96px;
}
#Tornament .tornamentMatch .Matches .firstTeam h3 {
  padding-right: 62px;
}
#Tornament .tornamentMatch .Matches .secondTeam h3 {
  padding-left: 62px;
}
#Tornament .tornamentMatch .Matches .time p {
  font-family: var(--oswald-font);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 6px;
}
/* Tornament Matches */
/* Tornament Section */

/* Top Games on Friday Section */
#topGames {
  background: var(--secondary-color);
  padding: 90px 0;
}
#topGames .titleBox {
  display: flex;
  justify-content: flex-end;
}
#topGames .title_width {
  max-width: 450px;
  text-align: right;
}
/* Discount Section */
#topGames .gameDiscountSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 46px;
}
#topGames .gameCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 18px;
  max-width: 315px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
#topGames .gameCard:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
#topGames .gameCard .gameImg {
  position: relative;
}
#topGames .gameCard .gameImg span {
  position: absolute;
  width: 30px;
  height: 30px;
  color: var(--white-color);
  font-size: 16px;
  font-family: var(--oswald-font);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--white-color);
  right: 15px;
  top: 14px;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  opacity: 0;
}
#topGames .gameCard .gameImg span:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background: var(--pink-color);
}
#topGames .gameCard:hover span {
  background: var(--dark-gray-color);
  opacity: 1;
}

#topGames .gameCard img {
  width: 100%;
}
#topGames .gameCard .gameTitle {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#topGames .gameCard .gameTitle h3 {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--barlow-font);
  letter-spacing: 1.54px;
  color: var(--white-color);
}
#topGames .gameCard .gameTitle p {
  font-family: var(--oswald-font);
  font-size: 16px;
  color: var(--gray-color);
  font-weight: 400;
  letter-spacing: 1.6px;
}
#topGames .gameCard .gamePrice {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
#topGames .gameCard .gamePrice .firstPrice {
  padding: 5px 4px;
  color: var(--white-color);
  background: var(--pink-color);
  text-align: center;
  font-weight: 400;
  font-family: var(--oswald-font);
  letter-spacing: 1.4px;
}
#topGames .gameCard .gamePrice .secondPrice {
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96;
  font-family: var(--oswald-font);
}
#topGames .gameCard .gamePrice .thirdPrice {
  font-size: 16px;
  font-family: var(--oswald-font);
  font-weight: 400;
  color: var(--white-color);
}
/* Discount Section */

/* favorite Games Section */

/* favorite Games Section */

/* Top Games on Friday Section */
/* Responsive with Media quarey */
@media screen and (max-width: 570px) {
  nav {
    flex-direction: column;
  }
  nav .navLogo {
    margin-bottom: 20px;
  }
  nav .navbarLeft {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  nav .navlink {
    flex-direction: column;
    width: 100%;
  }
  nav .navlink li {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  nav .navlink li:hover {
    background: var(--pink-color);
  }
  nav .navlink li a {
    font-size: 20px;
  }
  nav .navbarRight {
    margin-top: 20px;
    font-size: 20px;
  }
  .hero_contant {
    text-align: center;
    align-items: center;
  }
  .hero_contant h1 {
    font-size: 48px;
  }
  .heroSocialIcons {
    justify-content: center;
  }
  #About .aboutContant {
    flex-direction: column;
    gap: 20px;
  }
  #About .imgSide img {
    width: 100vw;
  }
  #About .summery {
    padding: 0 15px;
  }
  #About .aboutAchivment {
    flex-direction: column;
    align-items: center;
  }
  #Tornament .tornamentMatch {
    flex-direction: column;
  }
  #Tornament .tornamentMatch .Matches {
    flex-direction: column;
  }
}
